<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">    <link rel="icon" href="/img/weather.png" type="image/x-icon">
    <link rel="icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/app.js"></script>
    <title>Page not found! - Weather App</title>
</head>
<body>
    <div class="main">
    {{>header}}
    <p>{{sub}}</p>
    <a href="{{link}}">Go to suggested link</a>
    </div>
    {{>footer}}
</body>
</html>