<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/img/weather.png" type="image/x-icon">
    <title>About - Weather Application</title>
</head>
<body>
    <div class="main">
    {{>header}}

    <p>This site was made by Naim V. Using data from mapbox.com and some random weather api or whatever.</p>

    <img class="portrait" src="/img/profilepic.jpg" alt="Profile Picture" srcset="">

    </div>

    {{>footer}}
</body>
</html>