<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/weather.png" type="image/x-icon">
    <title>Weather Application</title>
</head>
<body>
    <div class="main">
        {{>header}}
        <p>Get your local weather with this web-app!</p>

        <form action="">
            <input type="text" name="" placeholder="Location" id="">
            <button>Search</button>
        </form>

        <p id="mOne"></p>
        <p id="mTwo"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>